:root {
  // @ 16px you can use 0.5 rem for an even 8px spacing grid
  font-size: 16px; // set root font-size
  line-height: 1.4; // unitless vertical rhythm
  color: initial; // initial will change based on color-scheme
  color-scheme: var(--color-scheme);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
span,
ul,
ol,
dl,
li {
  box-shadow: unset;
  border: unset;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

button {
  display: block;
}

h1, h2, p, button {
  margin-bottom: 1rem;
}

